body {
	position: relative;
	left: 0;
}

.starter-template {
	padding: 3rem 1.5rem;
	text-align: center;
}

html.zeynep-opened {
	overflow-x: hidden;
}
html.zeynep-opened body {
	width: 100%;
	position: fixed;
}
html.zeynep-opened .zeynep {
	pointer-events: auto;
}

.zeynep {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	overflow: hidden;
	overflow-y: auto;
	background-color: #272626;
	color: #ffffff;
	z-index: 1011;
	-webkit-overflow-scrolling: touch;
	pointer-events: none;
	transform: translateX(-100%);
}
html:not(.no-transition) body,
.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition) {
	transition: all 375ms;
	transition-property: left, right, transform;
}

.zeynep-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	display: none;
	/*background-color: rgba(0,0,0,.4);*/
}
.zeynep-opened .zeynep-overlay {
	display: block;
}

.zeynep ul {
  list-style-type: none;
  padding: 0;
	-webkit-overflow-scrolling:touch;
}
.zeynep ul > li {
	padding: 15px 26px;
	display: block;
}
.zeynep ul > li.has-submenu {
	background-image: url("../images/submenu-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 26px center;
}
.zeynep ul > li > a {
	font-size: 16px;
	color: #ffffff;
	display: block;
	font-weight: bold;
	text-decoration: none;
}
.zeynep ul > li:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.zeynep .submenu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 100%;
	overflow: hidden;
	overflow-y: auto;
	background-color: #272626;
	min-height: 100%;
	width: 100%;
}
.zeynep .submenu.opened {
	left: 0;
}
.zeynep .submenu-header {
	background-color: #333333;
	padding: 20px 26px;
	cursor: pointer;
	position: relative;
	padding-left: 55px;
}
.zeynep .submenu-header > a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
.zeynep .submenu-header > a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 26px;
	width: 20px;
	height: 100%;
	transform: rotate(-180deg);
	background-image: url("../images/submenu-arrow.svg");
	background-repeat: no-repeat;
	background-position: center right;
}
.zeynep .submenu > label {
	padding-left: 26px;
	color: #ffffff;
	font-size: 16px;
	opacity: .5;
	margin-top: 22px;
	margin-bottom: 16px;
	display: block;
	width: 100%;
}
