/* right side menu specific styles */
body {
  right: 0;
}

.zeynep-opened body {
  overflow: hidden;
}

.zeynep.right {
  left: auto;
  right: 0;
}
.zeynep.right:not(.opened) {
  transform: translateX(100%);
}
