.zeynep-initialized {
  /* prevent HTML element scroll on x-axis */
  overflow-x: hidden;
}

.zeynep {
  top: 0;
  left: 0;
  bottom: 0;
  width: 295px;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1011;
  transform: translateX(-100%);
  -webkit-overflow-scrolling: touch;
}

html:not(.zeynep-no-transition) body,
.zeynep:not(.no-transition),
.zeynep .submenu:not(.no-transition) {
  /* if transitions are not disabled */
	transition: all 375ms;
}

.zeynep-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	position: fixed;
	z-index: 1010;
	background-color: rgba(0, 0, 0, .42);
}

.zeynep-opened body {
  margin-left: 295px;
}

.zeynep-opened .zeynep-overlay {
	display: block;
}

.zeynep.opened {
  transform: translateX(0px);
}

.zeynep.submenu-opened {
  overflow: hidden;
}

.zeynep .submenu {
  top: 0;
	left: 100%;
	bottom: 0;
	min-height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: fixed;
	width: 100%;
}

.zeynep .submenu.opened {
  left: 0;
}

.zeynep .submenu.opened:not(.current) {
  overflow: hidden;
}
